body{
	background-image: url("./imgs/background2.gif");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}
h3{
	margin: 4px;
}
div{
	border:1px solid rgba(173, 156, 0, 1);
	background-color: rgba(0, 1, 36, 0.5);
	display: inline-block;
	padding: 2px 15px;
	margin: 3px;
	vertical-align: top;
}
ol{
	padding-left: 4px;
}
#totm{
	width: 900px;
}
#settings{
	color: white;
	border:1px solid rgba(173, 156, 0, 1);
	background-color: rgba(0, 1, 36, 0.5);
	padding: 2px 15px;
	margin: 3px;
	vertical-align: top;
	position: absolute;
	z-index: 5;
}
#log{
	position: relative;
	width: 500px;
	height: 550px;
}
#book{
	overflow: scroll;
	position: absolute;
	right: -4px;
	width: 500px;
	height: 490px;
}
#cmd{
	border:1px solid rgba(173, 156, 0, 1);
	background-color: rgba(0, 1, 36, 0.5);
	position: absolute;
	bottom: 0;
	left: 12px;
	color: white;
	width: 475px;
	height: 15px;
}
#submit{
	border:1px solid rgba(173, 156, 0, 1);
	background-color: rgba(0, 1, 36, 0.5);
	position: absolute;
	bottom: 1px;
	left: 430px;
	color: white;
	width: 60px;
	height: 17px;
}
#charSheet{
	width: 250px;
	height: 535px;
	text-align: left;
}
#info, #hpac{
	width: 200px;
}
#stats, #saves, #exp{
	width: 80px;
}
#thing{
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}
#thing div{
	display: block;
}
#exp{
	width: 80px;
	line-height: 8px;
}
#gear{
	width: 150px;
	height: 535px;
	text-align: left;
}
#store{
	height: 310px;
}
#inventory{
	height: 200px;
}
#store, #inventory{
	width: 110px;
	margin: 4px 0;
}













